@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apparat-Light";
  src: url("./assets//fonts/OneZero-Apparat-Light.woff2");
}

@font-face {
  font-family: "Apparat-Book";
  src: url("./assets//fonts/OneZero-Apparat-Book.woff");
}
@font-face {
  font-family: "Apparat-Medium";
  src: url("./assets//fonts/OneZero-Apparat-Medium.woff2");
}
@font-face {
  font-family: "Apparat-Bold";
  src: url("./assets//fonts/OneZero-Apparat-Bold.woff2");
}

@font-face {
  font-family: "Digibank-Regular";
  src: url("./assets//fonts/NarkissBlockDigibank-Regular.otf");
}

@font-face {
  font-family: "Digibank-Medium";
  src: url("./assets//fonts/NarkissBlockDigibank-Medium.otf");
}
@font-face {
  font-family: "Digibank-Apparat-Book";
  src: url("./assets//fonts/Apparat-Book-TRIAL.otf");
}

@layer base {
  html {
    font-family: Apparat-Book, system-ui, sans-serif;
  }
}

.first-section-container {
  background-image: url(assets/desktop_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .first-section-container {
    background-image: url(assets/mobile_bg.png);
  }
}
